@import "../../constants/style.globals.scss";

// .wp-block-mytheme-blocks-team-members {
.#{$BLK_NAME_TEAM_MEMBERS-selector} {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    @for $i from 1 through 6 {
        &.has-#{$i}-columns {
            
            $prom1 : '"' + $namespace + "/" + $BLK_NAME_TEAM_MEMBER + '"';
            
            [data-type=#{$prom1}] {
                width: calc(100% /#{$i});
            }
        }
    }
    > .editor-inner-blocks > .editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;
        .block-list-appender {
            width: 100%;
        }
        $prom2 : '"' + $namespace + "/" + $BLK_NAME_TEAM_MEMBER + '"';
        
        > [data-type=#{$prom2} ] {
            max-width: none;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .#{ $BLK_NAME_TEAM_MEMBER-selector} {
        margin: 0;
        width: auto !important;
    }
}
